@import "../../styles/global.scss";


.chart {
  width: 100%;
  height: 65%;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 40px 60px 40px 60px;
}


.comp {
  background: red;
  color: white;
  height: 100px;
  display: inline-block;
}

